<h1>Add a place</h1>

<form method="POST" action="/create">
<label for="input-name">Name of Place</label>
<input type="text" id="input-name" name="name" placeholder="Place">

<label for="input-type"Type of Place</label>
<select name="type" id="input-type">
<option value="selected disabled">Type</option>
<option value="coffee_shop">Coffee Shop</option>
<option value="bookstore">Bookstore</option>
</select>

<button>Submit</button>

</form>
